.Entrypoint {
  text-align: center;
}

.Entrypoint-logo {
  height: 40vmin;
}

.Entrypoint-header {
  background-color: #fff;
  color: #888;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Entrypoint-link {
  color: #09d3ac;
}
